@font-face {
    font-family: 'MozTT';
    src: url(../moztt/moztt-medium.woff) format('woff'),
         local('MozTT');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'MozTT';
    src: url(../moztt/moztt-regular.woff) format('woff'),
         local('MozTT');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MozTT';
    src: url(../moztt/moztt-light.woff) format('woff'),
         local('MozTT');
    font-weight: 200;
    font-style: normal;

}

html {
  background: #333;
  font: 16px "Feura Sans", "MozTT", sans-serif;
  overflow: hidden;
}

/* We're doing app interfaces here, so no need for outlines. */
a:focus,
a:active {
    outline: none;
}
::-moz-focus-inner {
  border: none;
}

.home-screens {
  transition: transform 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  height: 450px;
  list-style: none;
  margin: 0;
  padding: 0 0 0;
  position: absolute;
  width: 2880px;
}

.home-screen {
  height: 450px;
  padding-top: 20px;
  position: absolute;
  width: 320px;
}

.state-deck-card-zoomed-in .home-screens {
  /* Cover rocketbar when home screen is zoomed in.
  Apparently CSS transforms trigger new stacking contexts for z-index. */
  z-index: 99;
}

.home-lock-screen {
  height: 450px;
}

.home-background {
  transition: transform 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 470px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
}

.home-time {
  color: #fff;
  display: block;
  font-size: 72px;
  font-weight: normal;
  height: 72px;
  line-height: 72px;
  padding-top: 75px;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .7);
}

.demo-stage {
  height: 708px;
  left: 50%;
  margin: -354px 0 0 -178px;
  position: absolute;
  top: 50%;
  width: 356px;
}

.demo-mask {
  background: #000;
  height: 480px;
  left: 17px;
  overflow: hidden;
  position: absolute;
  top: 114px;
  width: 3000px;
}
.demo-mask-cover {
  height: 480px;
  left: 356px;
  position: absolute;
  top: 114px;
  width: 3000px;
  z-index: 999;
}

.demo-matte {
  background: #000;
  height: 480px;
  left: 17px;
  position: absolute;
  top: 114px;
  width: 320px;
}

.demo-phone-frame {
  background: url(phone-frame.png) 0 0 no-repeat;
  height: 708px;
  position: absolute;
  width: 356px;
}
.demo-phone-frame-right-edge {
  background: url(phone-frame.png) right 0 no-repeat;
  height: 708px;
  left: 337px;
  position: absolute;
  width: 19px;
  z-index: 100;
}

.demo-prev,
.demo-next {
  height: 450px;
  position: absolute;
  top: 134px;
  width: 60px;
  z-index: 98;
}

.demo-prev {
  left: 17px;
}

.demo-next {
  right: 17px;
}

.demo-status-bar {
  background: url(status-bar.png);
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 100;
}

.demo-app-grid {
  margin: 80px 0 0 0;
}

.deck-card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
  border-radius: 8px 0 8px 0;
  height: 320px;
  overflow: hidden;
  left: 30px;
  position: absolute;
  top: 102px;
  transition: width 150ms ease-out,
              height 150ms ease-out,
              top 150ms ease-out,
              left 150ms ease-out;
  width: 260px;
  z-index: 99;
}

/* When the deck card is active, the parent screen has this class applied. */
.deck-card-zoomed-in {
  border-radius: 0;
  box-shadow: none;
  height: 470px;
  left: 0;
  top: 0;
  width: 320px;
}

.deck-card-in {
  transition: transform 150ms ease-out;
  transform-origin: 0 0;
  transform: scale(0.8125);
}

.deck-card-zoomed-in > .deck-card-in {
  transform: scale(1);
}

.deck-card-controls {
  list-style: none;
  left: 50%;
  margin: 0 0 0 -40px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  /* @FIXME Hard-coded width and positioning. Would want to do this with JS
  in real life... or else not center it. */
  width: 80px;
  top: 432px;
}
.deck-card-controls > li {
  float: left;
  margin: 0 6px;
}

/* Icons
----------------------------------------------------------------------------- */

.icon-favorite,
.icon-not-favorite,
.icon-info,
.icon-email,
.icon-facebook,
.icon-messages {
  display: block;
  text-indent: -32000px;
}

.icon-favorite {
  background: url(sprite-y-a.png) 0 -100px no-repeat;
  height: 28px;
  width: 28px;
}

.icon-not-favorite {
  background: url(sprite-y-a.png) 0 0 no-repeat;
  height: 28px;
  width: 28px;
}

.icon-info {
  background: url(sprite-y-a.png) 0 -200px no-repeat;
  height: 28px;
  width: 28px;
}

.icon-email,
.icon-facebook,
.icon-messages {
  background: url(sprite-y-a.png);
  height: 30px;
  width: 30px;
}

.icon-email {
  background-position: 0 -500px;
}
.icon-messages {
  background-position: 0 -400px;
}
.icon-facebook {
  background-position: 0 -600px;
}

/* Notifications
----------------------------------------------------------------------------- */

.notification-tray {
  bottom: 10px;
  /* @FIXME hard coded for demo */
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  transition: height 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000),
              opacity 300ms ease-out;
  bottom: 10px;
  /* @FIXME hard coded for demo */
  width: 320px;
  z-index: 97;
}

.state-index-0 .notification-tray {
  /* @FIXME Hard coded for demo to animate bottom property. */
  height: 129px;
  opacity: 1;
}

.notification {
  background: rgba(0, 0, 0, .25);
  height: 36px;
  margin-top: 1px;
  padding: 6px 6px 0 42px;
  position: relative;
}

.notification > .icon {
  left: 6px;
  position: absolute;
  top: 6px;
}

.notification > .title,
.notification > .subtitle {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification > .title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2px;
}
.notification > .subtitle {
  color: #ddd;
  font-weight: normal;
}

.notification-bar {
  bottom: 0;
  height: 10px;
  list-style: none;
  margin: 0;
  padding: 0 12px;
  position: absolute;
  transition: bottom 300ms ease-out;
}

.state-index-0 .notification-bar {
  opacity: 0;
}

.notification-bar > li {
  background: #fff;
  border-radius: 3px;
  display: block;
  float: left;
  height: 6px;
  margin: 3px 4px 0 0;
  width: 6px;
}

.notification-bar > .facebook {
  background: #8198c2;
}

.notification-bar > .messages,
.notification-bar > .email {
  background: #02cdc9;
}

/* RocketBar
----------------------------------------------------------------------------- */

.rocketbar {
  left: 0;
  padding: 36px 12px 0;
  position: absolute;
  transition: left 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000),
              opacity 300ms ease-out;
  right: 0;
  top: 0;
  width: 296px;
  z-index: 2;
}

.state-deck-card-zoomed-in .rocketbar {
  opacity: 0;
}

.state-index-0 .rocketbar {
  left: 320px;
  opacity: 0;
}

.rocketbar-faux-input {
  background: #fff url(sprite-y-a.png) 0 -300px no-repeat;
  border-radius: 8px 0 8px 0;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2),
              0 0 0 1px rgba(0, 0, 0, .3),
              1px 1px 0 1px rgba(255, 255, 255, .2);
  display: block;
  height: 36px;
  position: relative;
  padding: 0 10px 0 36px;
  width: -moz-calc(100% - 46px);
}
.rocketbar-input {
  background: transparent;
  display: block;
  font: 16px "Feura Sans", "MozTT", sans-serif;
  border: 0;
  height: 23px;
  padding: 7px 0 6px;
  width: 100%;
}

